#heading{background-color: rgb(47,79,79); color: whitesmoke}
body{font-family: 'Spectral SC', serif;background-color: rgb(105,105,105)}
#phead{background-color: rgb(47,79,79);}
#pheadnext{background-color: rgb(47,79,79);}
#addrow{background-color: rgb(47,79,79);}