html{height: 100%;}
body{background-image: url('../images/Pokemon.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Muli', sans-serif;}

#title{font-weight: bolder; color: rgb(139,0,0);}
h3{color: rgb(139,0,0); }


#question{ font-size:2.0rem; color: blue; }

image{width: 100px; height: 75px;}

button{margin: 10px;}